#preloader {
  
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -10;
  
}

#content{
    display: none;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 25vh;
    left: 50vw;
    width: 100%;
}

body{
    background-color: rgb(0, 0, 0);
    display: block;
    padding: 0;
    margin: 0;
    line-height: 0;
    font-family: arial;
    transition: 1s;
}

#temperature{
    font-weight: bold;
    font-size: 36pt;
    padding: 0;
    margin: 36px;
    line-height: 0;
    color: rgb(0, 100, 150);
    
}

#condition{
    font-size: 14pt;
    line-height: 0;
    color: rgba(255, 255, 255, 0.5);
   
}

#location{
    font-size: 8pt;
    line-height: 4px;
    color: rgba(255, 255, 255, 0.5);
}

input[type="text"]{
    background: none;
    border: 2px solid #dfdfdfb4;
    text-align: center;
    font-family: Arial;
    width: 250px;
    outline: none;
    border-radius: 24px;
    padding: 8px ;
    margin: 8px;
    margin-bottom: 0px;
    transition: 0.25s;
    z-index: 2;
    color: #FFFFFF;
    
}

input[type = "text"]:focus{
    width: 400px;
    transition: 0.25s;
}


button:hover{
    background-color: black;
    color: white;
    transition: 2s;
}

#main{
    text-shadow: 0 0 60px rgb(0, 100, 100);
}

.details{
    position: absolute;
    transform: translate(-50%, 0);
    background-color: rgba(255,255,255,0.1);
    left: 50%;
    padding: 10px;
    width: 250px;
    border-radius: 24px;
    line-height: 0.5;
    z-index: 0;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.5);
   
}

.label{
    text-align: right;
    width: 50%;
    padding: 5px;
    font-style: oblique;
    font-size: 10pt;
}
.value{
    text-align: left;
    width: 50%;
    padding: 7px;
    font-weight: bolder;
    font-size: 11pt;
}

.container{
  overflow:scroll;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, 0);
  left: 50%;
  height: 200px;
  width: 400px;
}

#autocomplete > div {
    padding: 20px;
    font-size: 10pt;
    text-align: left;
    
   
    cursor:pointer;
    background-color: rgba(120,120,120,0.1);
    font-style: oblique;
}

#autocomplete > div:hover{
    background-color: #8f8e8c81;
}

#autocomplete{
    overflow-y: scroll;
    background: white;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#animations {
 position: absolute;
 z-index: -1;
}



